<router-outlet></router-outlet>

<div class="container">

  <!-- <div class="row" *ngIf="connected">
    <div class="col-md-6">
      <p>conversation</p>

      <div class="list-group">
        <div class="list-group-item flex-column align-items-start" *ngFor="let msg of messages">
          <p class="mb-1">{{msg.body}}</p>
          <div class="d-flex w-100 justify-content-between">            
            <small class="text-muted">{{msg.fromUuid}}</small>
          </div>
        </div>       
      </div>

      <div class="mt-3">
        <form #messageForm="ngForm">
          <div class="form-group">
            <textarea name="message" id="message" rows="3" 
              [(ngModel)]="message.body" 
              placeholder="Type a message"
              required
              class="form-control"></textarea>
          </div>
          <button class="btn btn-primary" (click)="send()" [disabled]="messageForm.invalid">SEND</button>
        </form>
      </div>

    </div>

  </div> -->

</div>
